*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif; 
}
body{
    overflow-x: hidden;
}
:root{

    --lightGray1: #f6f6f6;
    --goldenRod: #daa520;
    --white:#ffffff;
    --black:#000000;
}
.cs-bg-lightgray1{
    background-color: var(--lightGray1);
}
.cs-bg-goldenrod{
    background-color: var(--goldenRod);
}
.cs-bg-black{
    background-color: var(--black);
}
.cs-img-block{
    min-height: 400px;
}
.cs-heading h3::after{
    content: "";
    height: 1px;
    width: 20%;
    background-color: var(--goldenRod);
    display: block;
    margin: 10px auto;
}
.cs-text-gold{
    color:goldenrod;
}
.cs-icon{
    width: 50px;
    height:50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 50px;
}
.cs-icon i{
    font-size: 20px;
    
}
.cs-icon-white{
    background: var(--white);
    color: var(--goldenRod);
}
.cs-icon-gold{
    background: var(--goldenRod);
    color: var(--white);
}
.cs-icon-black{
    background:var(--black);
    color:var(--white);
}
.cs-line{
    width: 100%;
    height: 1px;
    background-color: rgba(218, 165, 32, 1) !important;
}
/*homepage*/
.navbar{
    height:100px;
    font-weight:700;
    position: fixed;
    z-index: 5;
    width:100%;
}
.navbar-collapse.show {
    background-color: black;
    text-align: center;
    z-index: 5;
  }
  
  .navbar-collapse.collapsing {
    background-color: black;
    align-items: center;
    z-index: 5;
  }
.navbar .navbar-brand{
    color:white;
    padding:0px 50px;
}
.navbar .navbar-brand span{
    color:goldenrod;
}
.navbar .navbar-toggler{
    background-color:goldenrod;
}
.navbar .collapse .navbar-nav .nav-link{
    color:white;
    padding-right:50px;
    font-size: 1.5rem;
}
.navbar .collapse .navbar-nav .nav-link:hover{
    color:goldenrod;
}

#slider h2{
    font-size: 30px;
}
#slider p{
    font-size: 40px;
}
#slider .carousel-caption{
    bottom: 15.75rem;
    margin: 0px auto;
}
#slider .carousel-caption .btn{
    background-color: goldenrod;
}
#slider .carousel-caption .btn:hover{
    background-color: rgba(230,175,40,1);
}
#synopsis span{
    color:goldenrod;
}
#synopsis .link{
    border-radius: 10px;
}

/*author*/
.autor{
    height:800px;
    background: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    display: flex;
    flex-direction: row;
    position:relative;
}

.autor .autor1{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left:15%;
    right:15%;
    top:10rem;
    height:400px;
    width:500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:white;
}
.autor .autor2 img{
    height:400px;
    width:300px;
    position: absolute;
    left:60%;
    top:10rem;
}
/*footer*/
footer .list-group-item{
    background-color: black;
    color: var(--white);
    border: none;
}
footer .list-group-item i{
    color: var(--white);
}
footer .cs-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
}
footer .mc-icon i{
    font-size: 18px;
}
footer .list-group-item-action:hover{
    background-color: black;
    color: var(--goldenRod);
}
